## Task 1

Return the customer IDs of customers who have spent at least **$110** with the staff member who has a **Staff ID of 2**.  

**Question:**  
Which customers spent $110 or more with Staff 2?

**Answer:** 187, 148

```sql
SELECT customer_id
FROM payment
WHERE staff_id = 2
GROUP BY customer_id
HAVING SUM(amount) >= 110;

## Task 2

How many films begin with the letter **J**?  
The answer should be **20**.

**Question:**  
Count the number of films where the title starts with the letter J.

**Answer:** 20

```sql
SELECT COUNT(title)
FROM film
WHERE title LIKE 'J%';

## Task 3

What customer has the **highest customer ID** whose first name starts with an **'E'** and has an **address ID lower than 500**?  

**Question:**  
Retrieve the customer ID, first name, and last name for this customer.

**Answer:** Eddie Tomlin.

```sql
SELECT customer_id, first_name, last_name
FROM customer
WHERE first_name LIKE 'E%' AND address_id < 500
ORDER BY customer_id DESC
LIMIT 1;