## Task 1

We have two staff members with Staff IDs **1** and **2**.  
We want to give a bonus to the staff member who handled the most payments.

**Question:**  
How many payments did each staff member handle, and what was the **total amount** processed by each staff member?

```sql
SELECT staff_id, COUNT(amount), SUM(amount)  -- COUNT = number of payments, SUM = total processed
FROM payment
GROUP BY staff_id;

## Task 2

Corporate headquarters is auditing our store!  
They want to know the **average replacement cost of movies by rating**.  
For example, R-rated movies have an average replacement cost of $20.23.

**Question:**  
Calculate the average replacement cost for each movie rating, rounded to the nearest cent.

```sql
SELECT rating, ROUND(AVG(replacement_cost), 2)
FROM film
GROUP BY rating;

## Task 3

We want to send coupons to the **5 customers who have spent the most amount of money**.

**Question:**  
Get the customer IDs of the top 5 spenders and their total amount spent.

```sql
SELECT customer_id, SUM(amount)
FROM payment
GROUP BY customer_id
ORDER BY SUM(amount) DESC
LIMIT 5;