In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv(r'anime.csv')

# Anime Data Insights

##### Make a new column for episode count

In [3]:
def extract_episodes(txt):
    data = ''
    check = False
    for i in txt:
        if i == ')':
            break
        if check:
            data += i
        if i == '(':
            check = True
    return data

df['Episodes'] = df['Title'].apply(extract_episodes)
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10   64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07   24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06   13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06   51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05   10 eps

##### Make a new column for time stamp

In [4]:
def extract_timestamp(txt):
    data = ''
    for i in range(len(txt)):
        if txt[i] == ')':
            for j in range(i+1,i+20):
                data += txt[j]
            return data
df['Timestamp'] = df['Title'].apply(extract_timestamp)
df.head()

,Rank,Title,Score,Episodes,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64 eps,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24 eps,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13 eps,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51 eps,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10 eps,Apr 2019 - Jul 2019

##### Which anime has the highest score?

In [5]:
df[df['Score'] == df['Score'].max()]

,Rank,Title,Score,Episodes,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64 eps,Apr 2009 - Jul 2010

##### Give me top five highest scoring anime

In [6]:
df.nlargest(5,'Score')

,Rank,Title,Score,Episodes,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64 eps,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24 eps,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13 eps,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51 eps,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10 eps,Apr 2019 - Jul 2019

##### Which anime has the highest episode count?

In [7]:
df['Episodes'] = df['Episodes'].str.replace(" eps",'').astype(int)
df[df['Episodes'] == df['Episodes'].max()]

,Rank,Title,Score,Episodes,Timestamp
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010

##### Animes with top 5 episode count

In [8]:
df.nlargest(5,'Episodes')

,Rank,Title,Score,Episodes,Timestamp
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005

##### Which is the longest running anime?

In [9]:
from datetime import datetime

def count_months(date_range):
    start, end = date_range.split(" - ")

    # Convert both to datetime (assumes format 'Mon YYYY')
    s = datetime.strptime(start, "%b %Y")
    e = datetime.strptime(end, "%b %Y")

    # Convert to month counts
    return (e.year - s.year) * 12 + (e.month - s.month) + 1

df['Months'] = df['Timestamp'].apply(count_months)
df[df['Months'] == df['Months'].max()]

,Rank,Title,Score,Episodes,Timestamp,Months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111