## Task 1

How can you retrieve all the information from the cd.facilities table?

**Question:**  
How can you retrieve all the information from the cd.facilities table?

**Answer:** Returns all columns and rows from cd.facilities.

```sql
SELECT * FROM cd.facilities;

## Task 2

You want to print out a list of all of the facilities and their cost to members.  
How would you retrieve a list of only facility names and costs?

**Question:**  
How would you retrieve a list of only facility names and their member costs?

**Answer:** name, membercost

```sql
SELECT name, membercost 
FROM cd.facilities;

## Task 3

How can you produce a list of facilities that charge a fee to members?

**Question:**  
Which facilities charge a member cost greater than 0?

**Answer:** Facilities where membercost > 0

```sql
SELECT name, membercost 
FROM cd.facilities
WHERE membercost > 0;

## Task 4

How can you produce a list of facilities that charge a fee to members, and that fee is less than 1/50th of the monthly maintenance cost?  
Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

**Question:**  
Which facilities have a member cost greater than 0 and less than 1/50th of the monthly maintenance?

**Answer:** facid, name, membercost, monthlymaintenance

```sql
SELECT facid, name, membercost, monthlymaintenance
FROM cd.facilities
WHERE membercost > 0 AND membercost < (monthlymaintenance/50.0);

## Task 5

How can you produce a list of all facilities with the word 'Tennis' in their name?

**Question:**  
Which facilities have 'Tennis' in their name?

**Answer:** Facilities where name contains 'Tennis'

```sql
SELECT * FROM cd.facilities
WHERE name LIKE '%Tennis%';

## Task 6

How can you retrieve the details of facilities with ID 1 and 5 without using the OR operator?

**Question:**  
How to get facility details for facid 1 and 5?

**Answer:** Use IN (1,5)

```sql
SELECT * FROM cd.facilities
WHERE facid IN (1,5);

## Task 7

How can you produce a list of members who joined after the start of September 2012?  
Return memid, surname, firstname, and joindate of the members in question.

**Question:**  
Which members joined on or after 2012-09-01?

**Answer:** memid, surname, firstname, joindate

```sql
SELECT memid, surname, firstname, joindate 
FROM cd.members
WHERE joindate >= '2012-09-01';

## Task 8

How can you produce an ordered list of the first 10 surnames in the members table?  
This list must not contain duplicates.

**Question:**  
How do you return the first 10 unique surnames in alphabetical order?

**Answer:** DISTINCT surnames ordered alphabetically, limited to 10

```sql
SELECT DISTINCT surname
FROM cd.members
ORDER BY surname
LIMIT 10;

## Task 9

You'd like to get the signup date of your last member. How can you retrieve this information?

**Question:**  
How do you get the most recent joindate from cd.members?

**Answer:** Use MAX(joindate)

```sql
SELECT MAX(joindate)
FROM cd.members;

## Task 10

Produce a count of the number of facilities that have a cost to guests of 10 or more.

**Question:**  
How many facilities have a guest cost of 10 or higher?

**Answer:** COUNT of facilities where guestcost â‰¥ 10

```sql
SELECT COUNT(*)
FROM cd.facilities
WHERE guestcost >= 10;

## Task 11

How can you produce a list of facilities showing the total number of slots booked for each, for bookings that started in September 2012?  
Return the facility ID and total slots, ordered by total slots.

**Question:**  
Which facility IDs have how many total slots booked between 2012-09-01 and 2012-10-01?

**Answer:** facid and SUM(slots), grouped and ordered by total slots

```sql
SELECT facid, SUM(slots) AS total_slots
FROM cd.bookings
WHERE starttime BETWEEN '2012-09-01' AND '2012-10-01'
GROUP BY facid
ORDER BY SUM(slots);

## Task 12

Produce a list of facilities where the total number of booked slots exceeds 1000.  
Return the facility ID and the total slots booked.

**Question:**  
Which facilities have more than 1000 total slots booked?

**Answer:** facid and SUM(slots) for facilities where total slots > 1000

```sql
SELECT facid, SUM(slots) AS total_slots
FROM cd.bookings
GROUP BY facid
HAVING SUM(slots) > 1000
ORDER BY facid;

## Task 13

Produce a list of bookings for all tennis courts on September 21st, 2012.  
Return the booking start time and the facility name, ordered by the start time.

**Question:**  
Which tennis court bookings occurred on 2012-09-21?

**Answer:** starttime and facility name for bookings on that date containing 'Tennis Court'

```sql
SELECT cd.bookings.starttime, cd.facilities.name
FROM cd.bookings
INNER JOIN cd.facilities
ON cd.bookings.facid = cd.facilities.facid
WHERE DATE(cd.bookings.starttime) = '2012-09-21'
AND cd.facilities.name ILIKE '%tennis court%'
ORDER BY cd.bookings.starttime;

## Task 14

Produce a list of start times for bookings made by the member named *David Farrell*.

**Question:**  
What are the booking start times for the member whose firstname is David and surname is Farrell?

**Answer:** starttime of bookings made by David Farrell

```sql
SELECT cd.bookings.starttime 
FROM cd.bookings
INNER JOIN cd.members
ON cd.bookings.memid = cd.members.memid
WHERE cd.members.firstname = 'David'
AND cd.members.surname = 'Farrell';