## Task 1

How many payment transactions were **greater than $5.00**?

**Question:** Count the number of payments where the amount is more than $5.00.

```sql
SELECT COUNT(amount)
FROM payment
WHERE amount > 5.00;

## Task 2

How many actors have a first name that **starts with the letter P**?

**Question:** Count the number of actors whose first name begins with **"P"**.

```sql
SELECT COUNT(first_name)
FROM actor
WHERE first_name LIKE 'P%';

## Task 3

How many **unique districts** are our customers from?

**Question:** Count the number of distinct districts, and then list those district names.

```sql
-- Count the number of unique districts
SELECT COUNT(DISTINCT(district))
FROM address;

--------------------------------------------------------

-- Retrieve the list of those unique districts
SELECT DISTINCT(district)
FROM address;

## Task 4

How many films have a **rating of R** and a **replacement cost between $5 and $15**?

**Question:** Count the number of R-rated films with a replacement cost in the range of 5 to 15 dollars.

```sql
SELECT COUNT(*)
FROM film
WHERE rating = 'R'
AND replacement_cost BETWEEN 5 AND 15;

## Task 5

How many films have the word **"Truman"** somewhere in the title?

**Question:** Count the number of films where the title contains the word *Truman*.

```sql
SELECT COUNT(*)
FROM film
WHERE title LIKE '%Truman%';