## Task 1

The sales tax in **California** has changed. We want to alert customers by email.  

**Question:**  
Which customers live in California, and what are their **email addresses**?

```sql
SELECT district,email FROM address 
INNER JOIN customer
ON address.address_id = customer.address_id
WHERE district = 'California'

## Task 2

A customer walks in and is a huge fan of **Nick Wahlberg**.  
We need to find **all movies** that he has acted in.

**Question:**  
Which films feature actor **Nick Wahlberg**?

```sql
SELECT title, first_name, last_name
FROM film
INNER JOIN film_actor
ON film.film_id = film_actor.film_id
INNER JOIN actor
ON film_actor.actor_id = actor.actor_id
WHERE first_name = 'Nick'
AND last_name = 'Wahlberg';