## Task 1

A customer forgot their wallet at our store! We need to track down their email to inform them.

**Question:** What is the email for the customer with the name **Nancy Thomas**?

```sql
SELECT email
FROM customer
WHERE first_name = 'Nancy'
AND last_name = 'Thomas';

## Task 2

A customer wants to know what the movie **"Outlaw Hanky"** is about.

**Question:** Could you give them the description for the movie *Outlaw Hanky*?

```sql
SELECT description 
FROM film
WHERE title = 'Outlaw Hanky';

## Task 3

A customer is late on their movie return. We know their address is **"259 Ipoh Drive"** and need to call them.

**Question:** Can you get the phone number for the person who lives at **259 Ipoh Drive**?

```sql
SELECT phone
FROM address
WHERE address = '259 Ipoh Drive';